.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}
.card {
  width: 250px;
  display: grid;
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: 3fr, auto, auto;
  align-items: center;
  background-color: #ffeaea;
  border-radius: 10px;
  padding: 10px;
}
.shoe-image {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.shoe-title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.shoe-price {
  grid-column: 2 / 3;
}

.shoe-title,
.shoe-price {
  font-weight: bold;
}
.description {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

@media (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .card {
    display: grid;
    grid-template-columns: 3fr, auto, auto;
    grid-template-rows: 2fr, 2fr;
    width: 95%;
  }

  .shoe-image {
    width: 90%;
    grid-column: 1 /2;
    grid-row: 1 / 3;
    border-radius: 8px;
  }

  .shoe-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .shoe-price {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .description {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}
